.links {
  display: block;
  margin: 2rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.avatar {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.avatar img {
  height: 150px;
  margin-bottom: 30px;
}

.name {
  font-family: var(--font-mono);
  text-align: center;
  margin-bottom: 10px;
}

.aka {
  font-family: var(--font-mono);
  font-style: italic;
  display: inline-block;
  margin: 0 0.3rem;
}
